
body {
    font-family: 'Raleway'
}

.wrapper {
    margin-right: auto;
    margin-left: auto;
    margin-top: 30;
    padding: 20;
    max-width: 800;

}

.title {
    text-align: center;
    color: #b60301;
    font-size: 76;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.subheader {
    text-align: center;
    margin-top: -10;
    font-size: 34;
    color: #A9A9A9;

}

.nav {
    margin-top: 50;
    font-family: 'Raleway';
    display: flex;
    justify-content: space-between;
    color: #A9A9A9;
}

.content {
    margin-top: 70;
}

a:hover {
    color: #b60301;
    cursor: pointer;
}

.nav-active {
    color: #b60301;
}






/* 
    SKY: #CAEBF2
    CARBON #A9A9A9
    WATERMELON #FF383F
    DARKRED: #b60301
    NEUTRAL #EFEFEF
*/